.git
.github
.vscode
.zed
.idea

node_modules
**/node_modules
dist
**/dist
**/dist-chrome
**/dist-firefox

*.log
*.tsbuildinfo
*.cpuprofile
.DS_Store

packages/web-ui/example/data
packages/coding-agent/binaries
.pi
.pi_config

